# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
.Python

# # 环境变量 - 重要！
# .env
# .env.local
# .env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# 系统文件
.DS_Store
Thumbs.db

# 依赖
node_modules/

# 数据库和日志
*.db
*.sqlite
*.log

# 临时文件
*.tmp
.temp/
